<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>631617102685-j41vc71p1fgdrr3tt963rc1h8jl0jarf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631617102685-j41vc71p1fgdrr3tt963rc1h8jl0jarf</string>
	<key>API_KEY</key>
	<string>AIzaSyB8gr4RcazMwfqlOJKEv97qDpagJFsEzNM</string>
	<key>GCM_SENDER_ID</key>
	<string>631617102685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developAlexHC.LoginExample</string>
	<key>PROJECT_ID</key>
	<string>loginexample-c05db</string>
	<key>STORAGE_BUCKET</key>
	<string>loginexample-c05db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631617102685:ios:4a1b26215e08ca3f</string>
	<key>DATABASE_URL</key>
	<string>https://loginexample-c05db.firebaseio.com</string>
</dict>
</plist>